html, body {
	height: 100%;
	margin: 0;
}

.box {
	background-color: var(--bg);
	color: var(--text);
}

.service_list {
	margin: 1rem auto;
}

.title,
.subtitle,
a,
h1,
h2,
h3 {
  color: var(--text);
}

img.icon {
	filter: grayscale(100%);
}
